body{
    font-family: 'Aboreto', cursive;
    margin: 0;
    width: 100%;
    
}
h1{
    font-size: 50px;
}
.highlight{
    color: orange;
    
}
.half-width{
    width: 43%;
    float: left;
    margin-left: 5%;
    padding-left: auto;
    /* margin-bottom: 5%;
    padding-bottom: auto; */
}
.half-width img{
    width: 100%;
}

.spaces{
    text-align: left;
}
    
.image{
    width: 1%;
    float: left;
    margin: 0;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(235, 170, 50, 0.459), tan);
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.image2{
    
    float: right;
    margin-left: auto;

}
.second{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: auto;
    /* margin-bottom: 5%;
    padding-bottom: auto; */
}
.second img{
    width: 100%;
}

.section{
    height: 500px;
    padding-bottom: 150px;
}

.bold{
    font-weight: 700;
}

.heading{
    height: 100px;
}
.third{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 400px;
    width: 550px;
    padding: 10px;
    margin-bottom: 50px;
}
.projects{
    height: 500px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100px;
}
#border1{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#border2{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#border3{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

#border4{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
