body{
    font-family: 'Aboreto', cursive;
    margin: 0;
    width: 100%;
}
h1{
    font-size: 50px;
}
.highlight{
    color: orange;
    
}
.half-width{
    width: 43%;
    float: left;
    margin-left: 5%;
    padding-left: auto;
    /* margin-bottom: 5%;
    padding-bottom: auto; */
}
.half-width img{
    width: 100%;
}

.spaces{
    text-align: left;
}
    
.image{
    width: 1%;
    float: left;
    margin: 0;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(235, 170, 50, 0.459), tan);
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.image2{
    
    float: right;
    margin-left: auto;

}
.half-width2{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: auto;
    /* margin-bottom: 5%;
    padding-bottom: auto; */
}
.half-width2 img{
    width: 100%;
}

.section{
    height: 500px;
    padding-bottom: 150px;
}